@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: #231F63;

    --card: #000;
    --primary: #524D96;

    --secondary: #938FC9;
    --secondary-foreground: #231F63;
    --muted: #938FC9;

    --accent: #B5B0FF;
    --accent-foreground: #231F63;

    --text: #E3E1FC;
    --border: #B5B0FF;

    --radius: 0.5rem;
  }

}

@layer base {
  body {
    background-image: url('/assets/images/background-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .primary-text {
    color: white;
  }

  .secondary-text {
    color: var(--secondary)
  }

  .card {
    color: white;
    background-color: var(--card);
    border-radius: var(--radius);
  }

  .banner {
    border-color: var(--border);
  }

}

.button {
  background-color: var(--secondary);
}

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
} */